#container button {
  width: 98px;
  height: 98px;
  padding: 20px;
  font-size: 2em;
  margin: 1px;
  border: 0.5px solid rgb(160, 159, 159);
  background-color: cornsilk;
}
#container {
  margin: auto;
  margin-top: 200px;
}
h1 {
  margin: auto;
}

#reset {
  margin: auto;
}
